@import "tailwindcss";

:root {
  --background: #101010;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.price-detail {
  font-size: 0.9rem;
  list-style-type: none;
  padding: 10px 0 0;
  flex: 1 0 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}